
<div class="book-list-wrapper">
  <div class="wraper-info-navigation">
    <a routerLink="/" class="mfe-left">Books home</a>
    <span *ngIf="isLoggedIn" class="mfe-right">You have <span id="balance">{{balance | number:'1.2-2'}}</span> credits</span>
  </div>
  <h1 class="book-list-title">Book List Available</h1>
  <table class="book-list">
    <thead>
      <tr class="header-panel">
        <th>Ref</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books" [routerLink]="[book.id] ">
      <td>{{book.id}}</td>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
    </tr>
    </tbody>
  </table>
</div>
