.welcome-wrapper {
  text-align: center;

  .main-title {
    font-size: 48px;
  }

  .link  {
    color: #000000;font-weight: normal;text-decoration: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
  }
}
